@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px; /* Espaçamento entre as linhas */
    column-gap: 20px; /* Espaçamento entre as colunas */
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores que 1024px */
    }
    .card {
        max-width: 300px;
        height: 280px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* 1 coluna em telas menores que 600px */
    }
    .card {
        max-width: 300px;
        height: 280px;
    }
}

.card{
    background-color: #20CD8D; /* Cor verde */
    border-radius: 50px; /* Borda arredondada */
    max-width: 300px; /* Tamanho máximo */
    height: 280px; /* Altura do bloco */
    display: flex; /* Para alinhar o texto */
    justify-content: center; /* Alinha horizontalmente */
    align-items: flex-end; /* Alinha verticalmente ao final */
    font-family: "Poetsen One", sans-serif; /* Família da fonte */
    font-weight: 400px; 
    font-style: normal; /* Tipo de fonte */
    font-size: 30px; /* Tamanho da fonte */
    position: relative; /* Posição dos itens sobre o card */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    transition: 0.3s ease; /* Transição suave da transformação */
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #6dd8b1 /* Cor enquanto mouse em cima */
}


.card_text {
    position: absolute;
    bottom: -20px;
    left: 20px;
    padding: 4px;
    font-size: 30px; /* Tamanho do texto */
    color: white; /* Cor do texto */
    display: flex;
    align-items: center;
    transition: 0.3s ease; /* Transição suave da transformação */
}

.card_icon {
    max-width: 50px;
    margin-left: 28px;
    margin-bottom: 55px;
    transition: 0.3s ease; /* Transição suave da transformação */
}

.card_index{
    font-family: "Poetsen One", sans-serif; /* Família da fonte */
    color: white;
    font-size: 60px;
    transition: 0.3s ease; /* Transição suave da borda */
    border-left: 5px solid #20CD8D; /* Define uma margem à esquerda transparente */
    border-radius: 5px;
    padding-left: 4%;
}


body{
    background-color: #172627;
    margin: 5%;
}

.link {
        text-decoration: none; /* Remove sublinhado padrão */
        color: inherit; /* Herda a cor do texto */
}
    
.texto-final{
    margin: 0; /* Remove margens padrão do parágrafo */
}
