@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px; /* Espaçamento entre as linhas */
    column-gap: 20px; /* Espaçamento entre as colunas */
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores que 1024px */
    }
    .card {
        max-width: 300px;
        height: 280px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* 1 coluna em telas menores que 600px */
    }
    .card {
        max-width: 300px;
        height: 280px;
    }
}

.card{
    background-color: #20CD8D; /* Cor verde */
    text-align: center; /* Centraliza o texto */
    border-radius: 50px; /* Borda arredondada */
    max-width: 300px;
    height: 280px; /* Altura do bloco */
    display: flex; /* Para alinhar o texto */
    justify-content: center; /* Alinha horizontalmente */
    align-items: flex-end; /* Alinha verticalmente ao final */
    font-family: "Poetsen One", sans-serif; /* Família da fonte */
    font-weight: 400px; 
    font-style: normal; /* Tipo de fonte */
    font-size: 30px; /* Tamanho da fonte */
}

body{
    background-color: #172627;
    margin: 5%;
}

.link {
        text-decoration: none; /* Remove sublinhado padrão */
        color: inherit; /* Herda a cor do texto */
}
    
.texto-final{
    margin: 0; /* Remove margens padrão do parágrafo */
}
