#body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    }
    h1 {
    font-size: 24px;
    margin-bottom: 10px;
    }
    p {
    margin-bottom: 10px;
    }
    a {
    color: #000;
    text-decoration: none;
    }
    a:hover {
    text-decoration: underline;
    }
#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}